/* css for Chingu V10 Geckos team 1
    * QUIZ 2
    * orange / blue theme

*/
#constant {
    color: red;
}
title:before {
  content: "Strings and Things";
}
body {
    background-color: #EEDFC9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
i {
  color: white;
}

.line {
    margin: 0;
    padding: 0;
    width: 92vw;
    margin-left: 10px;
    border: 2px groove #F2A97B;
}

.link-box {
    display: inline-block;
    height: 90vh;
    width: 100vw;
    padding: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.nav-bar {
    background: #89380A;
    height: 7vh;
    margin-top: 0;
    padding: 2px;
}

.nav-button {
    border: 1px solid black;
    color: whitesmoke;
    background-color: inherit;
    float: left;
    width: 7vw;
    height: 7vh;
}

.head-box {
    background-color: whitesmoke;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding-right: 5vw;
    width: 100vw;
    color: cornflowerblue;
    font-size: 1em;
}

.start {
    position: relative;
    background-color: inherit;
    border: none;
    font-size: large;
    margin: 0 auto;
    width: 25vw;
}

.basic_term {
    width: 75vw;
    height: 75vh;
    padding:  5px;
    margin-left: 12.5vw;
    margin-right: 12.5vw;
    background-size: cover;
    background-image: url("../images/collection-education-knowledge-begin-pexel.jpg");
    background-repeat:no-repeat;
}

.title-head {
    text-align: center;
    background: #424249;
    border-bottom: 2px groove blue;
    color: #E4E7F2;
    margin: 0;
    padding: 0;
}

.center-justify p {
    text-align: center;
    justify-content: space-around;
}

ul, li {
    border: none;
    list-style-type: none;
    display: inline-block;
    padding-left: 5vw;
}


.about_quiz:before {
  content: "Strings are not just ordinary things. \a Click Start Quiz to begin.";
}

.Instructions {
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 75vw;
    margin-left: 12.5vw;
    margin-right: 12.5vw;
    color:  #424249;
    font-size: 2em;
}

#load_image {
    display: none;
}

.results {
    color: #424249;
    text-align: center;
    font-size: 2em;
    display: none;
}

.true_false {
    display: none;
    background-color: #F7F7F9;
    border: 5px solid #054DF9;
    width: 95vw;
    margin-right: 10px;
    margin-top: 10%;
}

.quiz_box {
    display: none;
    background-color: #F7F7F9;
    border: 5px solid #054DF9;
    width: 95vw;
    margin-right: 10px;
    margin-top: 10%;
}
/* question = the actual quiz question, question_s = multiple choices. */
.question_s {
    border: none;
    display: inline-block;
    font-size: large;
    color: black;
}

.question {
    display: inline;
    border: none;
    font-size: 2em;
    color: cornflowerblue;
    padding: 5%;
}

.which_question {
    display: none;
    color: black;
}

.quiz_buttons {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
  height: 12.5vh;

}

.hidden_continue_btn {
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 99vw;
}
.continue_btn {
  display: none;
  background: inherit;
  margin: 0 auto;
  border: 1px solid #054DF9;
  box-shadow: 2px 2px 5px grey;
  width: 33vw;
  font-size: 2em;
}

.continue_btn button {
  display: none;
  background: inherit;
  border: 1px solid #054DF9;
  box-shadow: 2px 2px 5px grey;
  width: 25vw;
  height: 8vh;
  float: center;
}

.end_quiz {
    display: none;
    width: 75vw;
    height: 75vh;
    padding: 5px;
    margin-left: 12.5vw;
    margin-right: 12.5vw;
    background-size: cover;
    background-image: url("../images/book-pages-bookcase-browse-pexel.jpg");
    background-repeat:no-repeat;
}

.hidden_congrats {
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    color: #89380A;
    font-size: 2em;
}

/* code box colors for 'technical'
 * #492F5B -- dark purple -- background
 * #9AFC02 -- neon green -- text
 * #C802FC -- neon purple -- border
 */
 .dark-theme {
   display: none;
   white-space: pre-wrap;
   background: #492F5B;
   color: #9AFC02;
   border: solid 2px #C802FC;
   font-family: monospace;
   font-size: 2em;
   padding-left: 5vw;
 }


.quiz_buttons {
  display: none;
  flex-direction: row;
  height: 12.5vh;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;

}

.quiz_buttons button {
  width: 20vw;
  height: 100%;
  text-align: center;
  justify-content: center;
  background: inherit;
  border: 1px solid #054DF9;
  box-shadow: 2px 2px 5px grey;
  margin-right: 2vw;
}
