/*  FOR userQuestionsView.html
  * colors:
  * dark grey/blue = 90, 99, 126
  * deep blue = #190770
  * light blue = #768BF9
  *home background = rgb(229, 226, 233)
  *home headers color = rgba(123, 104, 238, 0.5)
*/
main {
  background: rgb(90, 99, 126);
  font-family: 'Orbitron', sans-serif;
  color: white;
  text-shadow: 1px 2px 3px black;
  font-size: 2em;
  align-items: center;
  align-content: center;
  padding-top: 5vh;
}

.questions-container {
  display: none;
  border: 1px solid gray;
  padding: 1em;
  /* display:grid; */
  grid-template-rows: auto;
}

.topics-container {
  border: 1px solid blue;
  padding: 1em;
  display:grid;
  grid-template-rows: auto;
}

.update-form {
  display: flex;
  flex-direction: column;
}
.form-container {
  display: none;
  justify-content: center;
  align-content: center;
  margin: 0;
  padding: 0;
  background-color: rgb(229, 226, 233);
  width: 100%;
}

.edit-form-title {
  margin-top: 2vh;
  align-self: center;
}

input {
  width: 40vw;
  height: 3vh;
  margin-top: 0.5vh;
  border-radius: 4px;
}
.input-field {
  display: grid;
  grid-template-columns: 20% 50%;
  width: 80%;
  align-self: center;
}

.question-item {
  display: grid;
  grid-template-columns: 85% 7.5% 7.5%;
}
.answer-choices-container {
  display: none;
}

.answer-choices-container input {
  display: block;
}

.button-container {
  align-self: center;
  margin-top: 1vh;
  margin-bottom: 1vh;
  width: 40vw;
  display: flex;
  justify-content: space-between;
}

.button-container button {
  width: 35%;
  height: 3.5vh;
  border-radius: 4px;
}

.goBack {
  display: none;
}

.answer-choices-container {
  flex-direction: column;
  align-items: flex-start;
  width: 70vw;
}

.user_links {
  font-family: inherit;
  font-size: 2em;
  color: #142873;
  text-shadow: 2px 2px 3px white;
  background: rgba(252, 254, 250, 0.4);
  text-align: center;
  padding-top: 2vh;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 5vh;
  width: 100vw;
}

.delete-confirmation {
  display: none;
}

.current-topic {
  display: none;
}
