/*  colors
  * dark grey/blue = 90, 99, 126
  * deep blue = #190770
  * light blue = #768BF9
  *home background = rgb(229, 226, 233)
  *home headers color = rgba(123, 104, 238, 0.5)
*/
main {
  background: linear-gradient(45deg, #768BF9, #FCFBF8);
  font-family: 'Orbitron', sans-serif;
  height: 100vh;
}

h3 {
  margin: 0;
  padding: 0;
  text-align: center;
}

i {
  color: white;
}

form {
  width: 80vw;
  height: 75vh;
  padding: 10%;
  font-family: inherit;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 20px;
}

input, label {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
}

@media all and (max-width: 799px) and (min-width: 320px) {
    body{
        font-size: 12px;
    }
    form {
      width: 50vw;
      height: 80vh;
      display: flex;
      flex-direction: column;
      margin-top: auto;
      margin-left: 10vw;
      margin-right: 10vw;
      font-family: inherit;
      font-size: 1em;
      background: linear-gradient(45deg, #768BF9, #FCFBF8);
      border-radius: 20px;
      border: solid 2px #FCFBF8;
    }
    #user_quiz {
      margin: 1vw;
      width: 90vw;
      text-align: center;
      align-content: center;
      color: white;
      text-shadow: 2px 2px 2px black;
      font-weight: lighter;
      font-size: 1em;
      background: inherit;
    }

    .user-message-container {
      display: none;
    }
}

.login-container {
  display: flex;
  flex-direction:column;
}

#user_quiz {
  margin: 2vw;
  width: 90vw;
  text-align: center;
  align-content: center;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-weight: lighter;
  font-size: 2em;
  background: inherit;
}


.user_links {
  font-family: inherit;
  font-size: 2em;
  color: #142873;
  text-shadow: 2px 2px 1px whitesmoke;
  background: inherit;
  text-align: center;
  margin: 0;
  width: 90vw;
}

.user_links:hover {
    color: white;
    text-shadow: 2px 2px 2px #142873;
}


.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: 90vw;
  border: 1px solid black;
  background: rgba(229, 226, 233, 0.4);
  margin: 2vw;
  font-family: 'Orbitron', sans-serif;
}


.title-head_user {
    text-align: center;
    background: #424249;
    border-bottom: 2px groove blue;
    color: #E4E7F2;
    height: 10vh;
    top: 0;
    margin: 0;
    padding: 0;
}

.topic-container{
  display: none;
  font-size: 2em;
  text-align: center;
  justify-content: center;
  border-radius: 20px;
  border: solid groove cornflowerblue;
}


/* MH Additional Styles */

.top-nav {
  display: flex;
  border: 1px solid purple;
  background: #424249;
  height: 7vh;
  margin: 0;
  padding: 2px;
}

.right-subnav{
  justify-self: end;
  margin-left: auto;
  color: #E4E7F2;
  display: flex;
}

.user-message-container {
  width: 75vw;
  height: 75vh;
  margin-left: 12.5vw;
  margin-right: 12.5vw;
  margin-top: 12.5vh;
  margin-bottom: 12.5vh;
}

.logout {
  display: none;
}

.topic-link {
  font-size: 1em;
  color: black;
  text-shadow: 1px 1px 0px #768BF9;
}
