/*  colors
  * dark grey/blue = 90, 99, 126
  * deep blue = #190770
  * light blue = #768BF9
*/
main {
  background: linear-gradient(45deg, #768BF9, #190770);
  font-family: 'Concert One', cursive;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  border: 1px solid black;
  background: linear-gradient(45deg, #190770, #768BF9);
  padding: 2vw;
}


.title-head_user {
    text-align: center;
    background: #424249;
    border-bottom: 2px groove blue;
    color: #E4E7F2;
    height: 10vh;
    top: 0;
    margin: 0;
    padding: 0;
}

.topic-container{
  display: none;
}
