/*  FOR userQuestionsView.html
  * colors:
  * dark grey/blue = 90, 99, 126
  * deep blue = #190770
  * light blue = #768BF9
  *home background = rgb(229, 226, 233)
  *home headers color = rgba(123, 104, 238, 0.5)
*/

main {
  background: linear-gradient(45deg, #768BF9, #FCFBF8);
  height: 100vh;
}

h3 {
  margin: 0;
  padding: 0;
  text-align: center;
}

i {
  color: white;
}

form {
  width: 75vw;
  margin-top: auto;
  margin-left: 12.5vw;
  margin-right: 12.5vw;
  padding: 2vw;
  font-family: inherit;
  font-size: 1em;
  background: linear-gradient(45deg, #768BF9, #FCFBF8);
  border-radius: 20px;
  border: solid 2px #FCFBF8;
  display: flex;
  flex-direction: column;
}

input, label {
  display: flex;
  flex-direction: column;
}

@media all and (max-width: 599px) and (min-width: 320px) {
    body{
        font-size: 12px;
    }
    main{
      font-size: 1em;
    }

    .questions-container{
      display: none;
      border: 1px solid gray;
      padding: 0.5em;
      font-size: 0.6em;
      /* display:grid; */
      grid-template-rows: auto;
      background: white;
      color: black;
    }


    form {
      width: 80vw;
      margin-top: auto;
      margin-left: 10vw;
      margin-right: 10vw;
      padding: 2vw;
      font-family: inherit;
      font-size: 0.5em;
      text-shadow: 2px 2px 2px black;
      background: linear-gradient(45deg, #768BF9, #FCFBF8);
      border-radius: 20px;
      border: solid 2px #FCFBF8;
      display: flex;
      flex-direction: column;
    }

.add_questions_form {
  text-shadow: 2px 2px 2px black;
  font-size: 1em;
  padding: 5%;
}

}
.questions-container {
  display: none;
  border: 1px solid gray;
  padding: 1em;
  /* display:grid; */
  grid-template-rows: auto;
  background: white;
  color: black;
  text-shadow: 1px 1px 2px white;
}


.topics-container {
  border: 1px solid blue;
  padding-left: 25vw;
  font-size: 2em;
  display:grid;
  grid-template-rows: auto;
}

.update-form {
  display: flex;
  flex-direction: column;
}

.form-container {
  display: none;
  justify-content: center;
  align-content: center;
  margin: 0;
  padding: 0;
  background-color: rgb(229, 226, 233);
  width: 100%;
  text-shadow: 1px 1px 1px black;
}

.edit-form-title {
  margin-top: 2vh;
  align-self: center;
}

input {
  width: 40vw;
  height: 5vh;
  margin-top: 0.5vh;
  border-radius: 4px;
  padding-left: 2vw;
}

.input-field {
  display: grid;
  grid-template-columns: 20% 50%;
  width: 80%;
  align-self: center;
}

.question-item {
  display: grid;
  grid-template-columns: 85% 7.5% 7.5%;
}
.answer-choices-container {
  display: none;
}

.answer-choices-container input {
  display: block;
}

.button-container {
  align-self: center;
  margin-top: 1vh;
  margin-bottom: 1vh;
  width: 40vw;
  display: flex;
  justify-content: space-between;
}

.button-container button {
  width: 35%;
  height: 3.5vh;
  border-radius: 4px;
  font-size: 0.5em;
}

.goBack {
  display: none;
}

.answer-choices-container {
  flex-direction: column;
  align-items: flex-start;
  width: 70vw;
}

.user_links {
  font-family: inherit;
  font-size: 2em;
  color: #142873;
  text-shadow: 2px 2px 3px white;
  background: rgba(252, 254, 250, 0.4);
  text-align: center;
  padding-top: 2vh;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 5vh;
  width: 100vw;
}

.delete-confirmation {
  display: none;
}

.current-topic {
  display: none;
}


#user_quiz {
  width: 90vw;
  text-align: center;
  align-content: center;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-weight: lighter;
  font-size: 2em;
  background: inherit;
}


.user_links {
  font-family: inherit;
  font-size: 2em;
  color: #142873;
  text-shadow: 2px 2px 1px whitesmoke;
  background: inherit;
  text-align: center;
  margin: 0;
  width: 90vw;
}

.user_links:hover {
    color: white;
    text-shadow: 2px 2px 2px #142873;
}


.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  border: 1px solid black;
  background: rgba(229, 226, 233, 0.4);
  padding: 2vw;
  font-family: 'Orbitron', sans-serif;
}


.title-head_user {
    text-align: center;
    background: #424249;
    border-bottom: 2px groove blue;
    color: #E4E7F2;
    height: 10vh;
    top: 0;
    margin: 0;
    padding: 0;
}

.topic-container{
  display: none;
}

.nav-container {
  text-shadow: 1px 1px 2px black;
}
/* MH Additional Styles */

.top-nav {
  display: flex;
  border: 1px solid purple;
  background: #424249;
  height: 7vh;
  margin: 0;
  padding: 2px;
}

.right-subnav{
  justify-self: end;
  margin-left: auto;
  color: #E4E7F2;
  display: flex;
}

.user-message-container {
  width: 75vw;
  height: 75vh;
  margin-left: 12.5vw;
  margin-right: 12.5vw;
  margin-top: 12.5vh;
  margin-bottom: 12.5vh;
}

.logout {
  display: none;
}
